<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<nav>
  <div class="nav-wrapper green lighten-1" >
    <a href="#" class="brand-logo left"> ForestRun</a>
  </div>
</nav>




<div id="map"></div>
<!--options-->
<div class="fixed-action-btn" style="position:absolute;botton:50%;right:10%">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red" onclick="addBaguette()"><i class="material-icons">new_releases</i></a> Dodaj alarm</li>
    <li><a class="btn-floating green" onclick="addParty()"><i class="icon icon ion-bonfire"></i></a> Dodaj imprezy</li>
    <li><a class="btn-floating green"onclick="showParty()"><i class="icon icon ion-beer"></i></a> Pokaż imprezy</li>
  </ul>
</div>
<!-----party FORM!-->
<div id="partyForm" style="visibility:hidden;position:absolute; top:30%;left:10%;">
  <div class="row">
    <div class="col s12 m6">
      <div class="card green darken-1">
        <div class="card-content white-text">
          <span class="card-title">Nowa Impreza</span>
          <p>Podaj nazwę i szczegóły twojej imprezy, które bedą się wyświeltać</p>
          <div class="input-field inline">
            <input id="partyName" type="email" class="validate">
            <label>Nazwa imprezy</label>
          </div>
          <div class="input-field inline">
            <input id="partyDescription" type="email" class="validate">
            <label>Opis imprezki</label>
          </div>
        </div>
        <div class="card-action">
          <a onclick="makeParty()">Rób</a>
          <a onclick="abortParty()">Anuluj</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="AddBaguetteAlert" style="visibility: hidden;position:absolute;top:30%;left:5%">
  <div class="row">
    <div class="col s12 m6">
      <div class="card red darken-1">
        <div class="card-content white-text">
          <span class="card-title">Dodaj bagietkowy alert</span>
          <p>Czy użyć twojej aktualnej lokalizacji?</p>
          <div class="input-field inline">
            <input id="description" type="email" class="validate">
            <label>Opis</label>
          </div>
        </div>
        <div class="card-action">
          <a onclick="sendAlert()">Moja lokalizacja</a>
          <a onclick="chooseSpot()">Zaznaczę</a>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row" id="alertPopup">
  <div class="col s12 m5 nopadding" >

    <div class="card red darken-4 pop">
      <div class="card-image">
        <img src="../img/Baguette-1.jpg">
      </div>
      <div class="card-content centerItems">
        <span class="white-text">Przed chwilą ktoś w Twojej okolicy zobaczył na horyzoncie niepokojący widok.
        </span>
      <div/>
      <div class="card-action centerItems">
        <a class="waves-effect waves-light btn red align-center" id="close" >Uciekam!</a>
      </div>
    </div>
  </div>
  </div>
</div>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzrzKRCW-Prb60UHlYadM7iQ4pnWSzV7k&callback=initMap">
</script>
<script src="../js/script.js"></script>
</body>
</html>
